# Server Configuration
PORT=10000
NODE_ENV=production

# CORS Configuration
CORS_ORIGIN=https://nexapay-wallet-z45m.vercel.app

# Database Configuration
MONGO_URI=mongodb://Isaacson:Isaac%402026%23Secure@ac-b1dv3sg-shard-00-00.rp299ur.mongodb.net:27017,ac-b1dv3sg-shard-00-01.rp299ur.mongodb.net:27017,ac-b1dv3sg-shard-00-02.rp299ur.mongodb.net:27017/?ssl=true&replicaSet=atlas-hgsruo-shard-0&authSource=admin&appName=nexapay-wallet

# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production

# Soroban/Stellar Configuration
SOROBAN_RPC_URL=https://soroban-rpc.stellar.org
SOROBAN_NETWORK=testnet 
CONTRACT_ID=CBYEOGW7L57GPPV4JQ744BY3JRZZGLHFORDDMADXWNBPASPEAQTTNKBI
SOROBAN_WALLET=CDWIJTZZ5A5PDAQNRAIHJBWI4Q3XFBEOSYXI6WF2EL5YP4CZ2BMNNZCX
SOROBAN_WALLET_PUBLIC=CDWIJTZZ5A5PDAQNRAIHJBWI4Q3XFBEOSYXI6WF2EL5YP4CZ2BMNNZCX
SOROBAN_WALLET_SEED=SBFSWWW5GJ5HD7NERL770EH6IQZ4XMWADC4BGOLQWB57Y22ZIYOYJLS4N
