# Server Configuration
PORT=10000
NODE_ENV=production

# CORS Configuration
CORS_ORIGIN=https://nexapay-wallet.vercel.app

# Database Configuration
MONGO_URI=mongodb://localhost:27017/nexapay

# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production

# Soroban/Stellar Configuration
SOROBAN_RPC_URL=https://soroban-rpc.stellar.org
SOROBAN_NETWORK=testnet 
CONTRACT_ID=CBYEOGW7L57GPPV4JQ744BY3JRZZGLHFORDDMADXWNBPASPEAQTTNKBI
SOROBAN_WALLET=CDWIJTZZ5A5PDAQNRAIHJBWI4Q3XFBEOSYXI6WF2EL5YP4CZ2BMNNZCX
SOROBAN_WALLET_PUBLIC=CDWIJTZZ5A5PDAQNRAIHJBWI4Q3XFBEOSYXI6WF2EL5YP4CZ2BMNNZCX
SOROBAN_WALLET_SEED=SBFSWWW5GJ5HD7NERL770EH6IQZ4XMWADC4BGOLQWB57Y22ZIYOYJLS4N
